.container-topbar {
    background-color: #3b5998;
    padding-left: 10px;
}

.row-topbar {
    display: flex;
    flex-direction: row;
    height: 45px;
}

.row-topbar > [class^="col-"],
.row-topbar > [class*=" col-"] {
    display: flex;
    align-items: center;
}