<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../navbar/">Default</a></li>
                <li><a href="../navbar-static-top/">Static top</a></li>
                <li class="active"><a href="./">Fixed top</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<h2>Page heading - I don't want this to scroll either</h2>

<div class="mygrid-wrapper-div">
    <table class="table">
        <thead>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
        <th>Column 4</th>
        <th>Column 5</th>
        <th>Column 6</th>
        <th>Column 7</th>
        <th>Column 8</th>
        <th>Column 9</th>
        <th>Column 10</th>
        <th>Column 11</th>
        <th>Column 12</th>
        <th>Column 13</th>
        <th>Column 14</th>
        </thead>
        <tbody>
        <tr>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
        </tr>
        <tr>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
        </tr>
        <tr>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
        </tr>
        <tr>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
        </tr>
        <tr>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
        </tr>
        <tr>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
        </tr>
        <tr>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
        </tr>
        <tr>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
        </tr>
        <tr>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
        </tr>
        <tr>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
        </tr>
        <tr>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
        </tr>
        <tr>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
        </tr>
        <tr>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
            <td>Lotsa text here</td>
        </tr>
        </tbody>
    </table>
</div> <!-- /container -->
