.scrollable-div {
    border: solid lightgrey 1px;
    overflow: scroll;
    height: 252px;
}
.scrollable-div table {
    font-size: small;
}
.scrollable-div tr > td > button > span{
    font-size: 10px;
}
