<div class="qa-background">
    <ul class="nav navbar-nav ">
        <li>
            <div class="panel-group qa-accordion-menu">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="small" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                <b>Mühendislik Süreçleri</b>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div>
                            <ul>
                                <li><a href="#" routerLink="/surec">Analiz Süreci</a></li>
                                <li><a href="#">Tasarım Süreci</a></li>
                                <li><a href="#">Geliştirme Süreci</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                Planlar
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div>
                            <ul>
                                <li><a href="#">Proje Yönetim Planı</a></li>
                                <li><a href="#">Analiz Planı</a></li>
                                <li><a href="#">Tasarım Planı Süreci</a></li>
                                <li><a href="#">Geliiştirme Planı</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                Raporlar
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div>
                            <ul>
                                <li><a href="#">Test Senaryoları</a></li>
                                <li><a href="#">Gereksinim/Test İzlenebilirlilik</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>