<div >
    <nav class="navbar navbar-light bg-faded rounded mb-3">
        <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            Document Realm <span class="glyphicon glyphicon-triangle-bottom"></span>
        </a>
        <div class="collapse navbar-toggleable-md" id="navbarCollapse">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card qd-card">
                        <div class="card-block">
                            <span class="card-title qd-card-title">Management Processes</span>
                            <ul>
                                <li><a href="#">Project Manangement</a></li>
                                <li><a href="#">Quality Management</a></li>
                                <li><a href="#">Risk Management</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card qd-card">
                        <div class="card-block">
                            <span class="card-title qd-card-title">Engineering Processes</span>
                            <ul>
                                <li><a href="#">System Requirements Analysis & Design</a></li>
                                <li><a href="#"  routerLink="/surec">Software Requirements Analysis</a></li>
                                <li><a href="#">Software Design</a></li>
                                <li><a href="#">Software Construction</a></li>
                                <li><a href="#">Software Integration</a></li>
                                <li><a href="#">Software Testing</a></li>
                                <li><a href="#">System Integration & Testing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card qd-card">
                        <div class="card-block">
                            <span class="card-title qd-card-title">Support Processes</span>
                            <ul>
                                <li><a href="#">Documentation</a></li>
                                <li><a href="#">Configuration Management</a></li>
                                <li><a href="#">Quality Management</a></li>
                                <li><a href="#">Verification</a></li>
                                <li><a href="#">Validation</a></li>
                                <li><a href="#">Joint Review</a></li>
                                <li><a href="#">Problem Resolution</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </div>
    </nav>
</div>

