
    <div class="qd-statement">
        <div class="qd-statement-toolbar">
            <button type="button" class="btn btn-xs btn-default">
                <span class="glyphicon glyphicon-hand-down"></span>&nbsp;
            </button>
            <button type="button" class="btn btn-xs btn-default">
                <span class="glyphicon glyphicon-hand-up"></span>&nbsp;
            </button>
            <button type="button" class="btn btn-xs btn-default" onClick="editStatement('')">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;
            </button>
            <button type="button" class="btn btn-xs btn-default">
                <span class="glyphicon glyphicon-step-forward"></span>&nbsp;
            </button>
            <button type="button" class="btn btn-xs btn-default">
                <span class="glyphicon glyphicon-trash"></span>&nbsp;
            </button>

        </div>
        <div>
            <h2>New Statement</h2>
            OK, I think I’ll stop pulling your leg. I’ll just add that I like adding an ellipsis for making it clear that some text was trimmed with text-overflow: ellipsis. Problem is that text-overflow only works on single-line content, so we have to make sure our element’s text doesn’t wrap by also adding white-space:
        </div>
    </div>

