<div class="col-sm-1"></div>
<div class="col-sm-10">
    <div class="row">
        <label for="name" class="col-sm-2"> Name : </label>
        <input class="input-sm col-sm-4" type="text" id="name" [(ngModel)]="project.name">
    </div>
    <div class="row">
        <label for="manager" class="col-sm-2"> Manager : </label>
        <input class="input-sm col-sm-4" type="text" id="manager" [(ngModel)]="project.manager">
    </div>
    <div class="row">
        <label for="startDate" class="col-sm-2"> Project Start Date : </label>
        <input class="input-sm col-sm-4" type="text" id="startDate" [(ngModel)]="project.startDate">
    </div>
    <div class="row">
        <label for="endDate" class="col-sm-2"> End Date : </label>
        <input class="input-sm col-sm-4" type="text" id="endDate" [(ngModel)]="project.endDate">
    </div>
    <div class="row">
        <label for="iteration" class="col-sm-2"> Iteration : </label>
        <input class="input-sm col-sm-4" type="text" id="iteration" [(ngModel)]="project.iteration">
    </div>
    <div class="row">
        <label for="iterationStartDate" class="col-sm-2"> Iteration Start Date : </label>
        <input class="input-sm col-sm-4" type="text" id="iterationStartDate" [(ngModel)]="project.iterationStartDate">
    </div>
    <div class="row">
        <label for="iterationEndDate" class="col-sm-2"> Iteration End Date : </label>
        <input class="input-sm col-sm-4" type="text" id="iterationEndDate" [(ngModel)]="project.iterationEndDate">
    </div>
</div>
<div class="col-sm-1"></div>