
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 qa-background">
            <ul class="nav navbar-nav ">
                <li>
                    <div class="panel-group qa-accordion-menu">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="small" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    <b>Mühendislik Süreçleri</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div>
                                <ul>
                                    <li><a href="#">Analiz Süreci</a></li>
                                    <li><a href="#">Tasarım Süreci</a></li>
                                    <li><a href="#">Geliştirme Süreci</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    Planlar
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div>
                                <ul>
                                    <li><a href="#">Proje Yönetim Planı</a></li>
                                    <li><a href="#">Analiz Planı</a></li>
                                    <li><a href="#">Tasarım Planı Süreci</a></li>
                                    <li><a href="#">Geliiştirme Planı</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    Raporlar
                                </a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div>
                                <ul>
                                    <li><a href="#">Test Senaryoları</a></li>
                                    <li><a href="#">Gereksinim/Test İzlenebilirlilik</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-10" style="background-color:#fffbfb;">
            <div class="container">
                <h4>MUH.ASD Analiz Süreci Dokümanı</h4>
                <div class="row">
                    <div class="col-sm-2">
                        <img src="/app/assets/images/docrealm/eng-rap.jpg" />
                    </div>
                    <div class="col-sm-10 scrollable-div">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Last Update</th>
                                <th>Updated</th>
                                <th>Version</th>
                                <th>Defauls</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>02.01.2017</td>
                                <td>Navid Bamdadrooshan</td>
                                <td>2.1</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>01.10.2016</td>
                                <td>Umut Taherzadeh</td>
                                <td>2.0</td>
                                <td>X</td>
                            </tr>

                            <tr>
                                <td>02.01.2017</td>
                                <td>Navid Bamdadrooshan</td>
                                <td>1.5</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>02.01.2017</td>
                                <td>Navid Bamdadrooshan</td>
                                <td>1.4</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>02.01.2017</td>
                                <td>Navid Bamdadrooshan</td>
                                <td>1.3</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>02.01.2017</td>
                                <td>Navid Bamdadrooshan</td>
                                <td>1.2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>02.01.2017</td>
                                <td>Navid Bamdadrooshan</td>
                                <td>1.1</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>02.01.2017</td>
                                <td>Navid Bamdadrooshan</td>
                                <td>1.0</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





