.qa-background{background-color: #F5F5F5;}

.qa-accordion-menu {
    width: 100%;
    background-color: #F5F5F5;
}
.qa-accordion-menu .panel-heading a {
    font-size: small;
    font-weight: bold;
}
.qa-accordion-menu .panel-collapse a {
    font-size: small;
}
.qa-accordion-menu .panel-collapse ul {
    list-style-type: none;
    padding-left:25px;
}

.qd-card {
    font-size: small;
}
.qd-card ul{
    list-style-type: none;
    padding-left:25px;
}
.qd-card-title {
    font-weight: bold;
}

.scrollable-div {
    border: solid lightgrey 1px;
    overflow: scroll;
    height: 252px;
}
.scrollable-div table {
    font-size: small;
}
.scrollable-div tr > td > button > span{
    font-size: 10px;
}