<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#qd-topbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" routerLink="">
                <img src="./app/assets/images/queendoc-32.gif" height="32" width="32"/>
            </a>
            <a class="navbar-brand" href="#" routerLink="">Queendoc</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="qd-topbar">
            <form class="navbar-form navbar-left">
                <select class="form-control" id="moduleSelector">
                    <option selected>Document Realm</option>
                    <option >Projects Realm</option>
                    <option >Docment Desktop</option>
                    <option>Access wizard</option>
                    <option>Stakeholders</option>
                    <option>Visual Artistics / Cosmetic Preferences</option>
                    <option>Settings</option>
                </select>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button class="btn btn-primary btn-sm">
                    <small><span class="glyphicon glyphicon-search"></span></small>
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        welcome Shapour
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="small"><a href="#">User Setting</a></li>
                        <li class="divider"></li>
                        <li class="small"><a href="#">Help</a></li>
                        <li class="small"><a href="#">Report a Problem</a></li>
                        <li class="small"><a href="#">About Queen Doc</a></li>
                        <li class="small"><a href="#">Donate</a></li>
                        <li class="divider"></li>
                        <li class="small"><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>