
.qd-page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.qd-page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}
.qd-page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;
}
.qd-page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
}
.qd-page[size="A3"][layout="portrait"] {
    width: 42cm;
    height: 29.7cm;
}
.qd-page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
}
.qd-page[size="A5"][layout="portrait"] {
    width: 21cm;
    height: 14.8cm;
}

.qd-header{
    border-bottom: solid;
    border-bottom-color: lightgrey;
    width: 17.5cm;
    height: 3cm;
    margin-left: 2cm;
    margin-right: 1.5cm;
}
.qd-content{
    border: none;
    border-color: lightgrey;
    width: 17.5cm;
    height: 23.7cm;
    margin-left: 2cm;
    margin-right: 1.5cm;
    overflow-y: hidden;
    text-overflow: ellipsis;
}
.qd-footer{
    border-top: solid;
    border-top-color: lightgrey;
    width: 17.5cm;
    height: 3cm;
    margin-left: 2cm;
    margin-right: 1.5cm;
}

