<div>
    <table>
        <tr>
            <td>
                First Name
            </td>
            <td>
                : <input type="text" name="firstName">
            </td>
        </tr>
        <tr>
            <td>
                Last Name
            </td>
            <td>
                : <input type="text" name="lastName">
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                : <input type="email" name="email">
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                : <input type="password" name="passWord">
            </td>
        </tr>
        <tr >
            <td colspan="2" >
                <button>Submit</button>
            </td>
        </tr>
    </table>
</div>