<div class="center-container">
    <div class="middle-aligned-container">
        <div class="user-container">
            <div class="queendoc-logo">
                <img src="../../../app/assets/images/queendoc-256.gif" alt="Queen Doc" >
            </div>
            <div class="user-credentials-container">
                <div>
                    <form>
                        <div class="row">
                            <label for="firstName" >First Name</label>
                            <input type="text" name="firstName"  placeholder="Enter First Name" id="firstName">
                        </div>

                        <div class="row">
                            <label for="lastName">Last Name</label>
                            <input type="text" name="lastName" placeholder="Enter Last Name" id="lastName">
                        </div>
                        <div class="row">
                            <label for="email" >Email</label>
                            <input type="text" name="email"  placeholder="Enter Email" id="email">
                        </div>
                        <div class="row">
                            <label for="password" >Password</label>
                            <input type="password" name="password"  placeholder="Enter Password" id="password">
                        </div>
                        <div class="row">
                            <button class="btn-submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>